{% load static %}


<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Tratamentos</h1>
    <div class="tratamentos-list">
        {% for tratamento in tratamentos %}
            <div class="tratamento-card">
                <img src="{{ tratamento.imagem.url }}" alt="{{ tratamento.nome }} image">
                <h2>{{ tratamento.nome }}</h2>
                <p><strong>Princípio Ativo:</strong> {{ tratamento.principio_ativo }}</p>
                <p><strong>Fabricante:</strong> {{ tratamento.fabricante }}</p>
                <p><strong>Categoria:</strong> {{ tratamento.categoria }}</p>
                <p><strong>Eficiência:</strong> {{ tratamento.eficacia_min }}% a {{ tratamento.eficacia_max }}%</p>
                <p><strong>Avaliação:</strong> {{ tratamento.avaliacao }} estrelas</p>
                <p><strong>Prazo para Efeito:</strong> {{ tratamento.prazo_efeito_min }} a {{ tratamento.prazo_efeito_max }}</p>
                <a href="{% url 'core:tratamento_detalhe' tratamento.id %}">Ver Detalhes</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
