/* src/components/Header.css */
.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20;
  margin-left: 20
;
  
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 15px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.tratamentos-container {
  padding: 20px;
}

.filtros {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


