<div class="tratamento-card">
  <div class="tratamento-content">
    {% if tratamento.imagem %}
      <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}">
        <img src="{{ tratamento.imagem.url }}" alt="{{ tratamento.nome }}" class="img-fluid">
      </a>
    {% else %}
      <img src="{% static 'default-image.jpg' %}" alt="Imagem não disponível">
    {% endif %}
    <div class="tratamento-info">
      <h3>{{ tratamento.nome }}</h3>
      <h3 style="color: #0094FF;font-size: 12px;">
        {% for tipo in tratamento.tipo_tratamento.all %}
          {{ tipo.nome }}{% if not forloop.last %}, {% endif %}
        {% empty %}Nenhum tipo selecionado{% endfor %}
      </h3>
      <p><strong>Princípio ativo:</strong> {{ tratamento.principio_ativo|default:"ND" }}</p>
      <p><strong>Fabricante:</strong> {{ tratamento.fabricante|default:"ND" }}</p>
      <a href="{% url 'evidencias_clinicas' slug=tratamento.slug %}" class="btn"
         style="background-color: #feeedc; color: #000; border: none; text-transform: lowercase; padding: 4px 35px; margin-top: 4px; display: inline-block;">
         ver pesquisas
      </a>
      <p>{{ tratamento.descricao }}</p>
    </div>
  </div>
</div>
