{# ==================== SESSÃO: ELIMINAÇÃO DE SINTOMAS ==================== #}
<div class="treatment-list section-list">
  <h2 style="font-size: 16px; font-weight: bold; background-color: #f2f2f2; padding: 8px 15px; border-radius: 6px; width: 450px; margin-left: 325px;">
    Tratamentos com eficácia de eliminação de sintomas
  </h2>

  {% for item in tratamentos_eliminacao %}
    {% with tratamento=item.obj %}
    <a href="{% url 'detalhes_tratamentos' tratamento.id %}" class="text-decoration-none text-dark">
      <div class="tratamento-card" style="margin-left: auto; margin-right: 0px; width: 1130px;">
        <div class="tratamento-content">
          {% if tratamento.imagem %}
            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}">
              <img src="{{ tratamento.imagem.url }}" alt="{{ tratamento.nome }}" class="img-fluid">
            </a>
            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}" class="btn mt-2"></a>
          {% else %}
            <img src="{% static 'default-image.jpg' %}" alt="Imagem não disponível">
          {% endif %}

          <div class="tratamento-info">
            <h3>{{ tratamento.nome }}</h3>
            <h3 style="color: #0094FF;font-size: 12px;">
              {% for tipo in tratamento.tipo_tratamento.all %}
                {{ tipo.nome }}{% if not forloop.last %}, {% endif %}
              {% empty %}Nenhum tipo selecionado{% endfor %}
            </h3>

            <p><strong>Princípio ativo:</strong> {{ tratamento.principio_ativo|default:"ND" }}</p>
            <p><strong>Fabricante:</strong> {{ tratamento.fabricante|default:"ND" }}</p>

            <a href="{% url 'evidencias_clinicas' slug=tratamento.slug %}" class="btn"
               style="background-color: #feeedc; color: #000; border: none; text-transform: lowercase; padding: 4px 35px; margin-top: 4px; display: inline-block;">
               ver pesquisas
            </a>
            <p>{{ tratamento.descricao }}</p>
          </div>

          <div class="eficacia-container">
            <p style="font-size: 20px; font-weight: 700; text-align: left; font-family: 'Inter', sans-serif; color: rgb(163,162,162);">
              Eficácia: <span style="color: #000; font-weight: 700; font-size: 20px;">Eliminação de sintomas</span>
            </p>

            <div class="eficacia-bar-container">
              <div class="efficacy-filled" style="width: {{ item.max|floatformat:0 }}%;"></div>
              <div class="efficacy-marker" style="left: calc({{ item.max|floatformat:0 }}% - 7px);"></div>
            </div>

            <p class="eficacia-range" style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 25px; text-align: left;">
              <span style="color: #888; font-weight: 500;">{{ item.min_str }} a</span>
              <span style="color: #000; font-weight: bold;"> {{ item.max_str }}%</span>
            </p>

            <p id="titulo-prazo-{{ tratamento.id }}" style="margin: 0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 15px; color: #000;">
              Prazo para efeito
            </p>
            <p id="valor-prazo-{{ tratamento.id }}" style="margin: 4px 0 0 0; font-family: 'Inter', sans-serif; font-size: 16px; font-weight: bold; color: #000;">
              {{ tratamento.prazo_efeito_min_formatado }} a {{ tratamento.prazo_efeito_max_formatado }}
            </p>

            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}" class="btn mt-2"
               style="background-color: #e0e0e0; color: #000; border: none; font-weight: 500; font-size: 14px; padding: 5px 35px; display: inline-flex; align-items: center; gap: 5px; margin-left: auto;">
              ver detalhes <span style="font-weight: bold;">&#8250;</span>
            </a>

            <span id="faixa-risco-{{ tratamento.id }}" class="replace-dot" style="display:none;">
              {{ tratamento.reacao_maxima}}%
            </span>
            <span id="faixa-eficacia-{{ tratamento.id }}" class="replace-dot" style="display:none;">
              {{ item.min|floatformat:2 }}% a {{ item.max|floatformat:2 }}%
            </span>
            <span id="faixa-prazo-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.prazo_efeito_min_formatado }} a {{ tratamento.prazo_efeito_max_formatado }}
            </span>
            <p class="preco-range" id="faixa-preco-{{ tratamento.id }}" style="display:none;">
              R$ {{ tratamento.preco|default:tratamento.custo_medicamento }}
            </p>
            <span id="faixa-rigor-{{ tratamento.id }}" style="display: none;">
              {% for i in "1234567" %}
                {% if i|add:"0" <= tratamento.rigor_maximo %}
                  <span style="display:inline-flex;align-items:center;justify-content:center;width:24px;height:24px;font-size:0.85rem;font-weight:600;border-radius:4px;border:1px solid #007bff;color:#fff;background:#007bff;">
                    {{ i }}
                  </span>
                {% else %}
                  <span style="display:inline-flex;align-items:center;justify-content:center;width:24px;height:24px;font-size:0.85rem;font-weight:600;border-radius:4px;border:1px solid #007bff;color:#007bff;background:transparent;">
                    {{ i }}
                  </span>
                {% endif %}
              {% endfor %}
            </span>
            <p id="faixa-data-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.ultima_pesquisa|date:"m/Y"|default:"-" }}
            </p>
            <span id="faixa-participantes-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.max_participantes|default:"-" }} participantes
            </span>
          </div>
        </div>
      </div>
    </a>
    {% endwith %}
  {% empty %}
    <p style="margin:10px 0;">Nenhum tratamento com eficácia de Eliminação de sintomas.</p>
  {% endfor %}
</div>

{# ===================== SESSÃO: REDUÇÃO DE SINTOMAS ===================== #}
<div class="treatment-list section-list">
  <h2 style="font-size: 16px; font-weight: bold; background-color: #f2f2f2; padding: 8px 15px; border-radius: 6px; width: 450px; margin-left: 1000px;">
    Tratamentos com eficácia de redução de sintomas
  </h2>

  {% for item in tratamentos_reducao %}
    {% with tratamento=item.obj %}
    <a href="{% url 'detalhes_tratamentos' tratamento.id %}" class="text-decoration-none text-dark">
      <div class="tratamento-card" style="margin-left: 500px; margin-right: 0px; width: 1130px;">
        <div class="tratamento-content">
          {% if tratamento.imagem %}
            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}">
              <img src="{{ tratamento.imagem.url }}" alt="{{ tratamento.nome }}" class="img-fluid">
            </a>
            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}" class="btn mt-2"></a>
          {% else %}
            <img src="{% static 'default-image.jpg' %}" alt="Imagem não disponível">
          {% endif %}

          <div class="tratamento-info">
            <h3>{{ tratamento.nome }}</h3>
            <h3 style="color: #0094FF;font-size: 12px;">
              {% for tipo in tratamento.tipo_tratamento.all %}
                {{ tipo.nome }}{% if not forloop.last %}, {% endif %}
              {% empty %}Nenhum tipo selecionado{% endfor %}
            </h3>

            <p><strong>Princípio ativo:</strong> {{ tratamento.principio_ativo|default:"ND" }}</p>
            <p><strong>Fabricante:</strong> {{ tratamento.fabricante|default:"ND" }}</p>

            <a href="{% url 'evidencias_clinicas' slug=tratamento.slug %}" class="btn"
               style="background-color: #feeedc; color: #000; border: none; text-transform: lowercase; padding: 4px 35px; margin-top: 4px; display: inline-block;">
               ver pesquisas
            </a>
            <p>{{ tratamento.descricao }}</p>
          </div>

          <div class="eficacia-container">
            <p style="font-size: 20px; font-weight: 700; text-align: left; font-family: 'Inter', sans-serif; color: rgb(163,162,162);">
              Eficácia: <span style="color: #000; font-weight: 700; font-size: 20px;">Redução de sintomas</span>
            </p>

            <div class="eficacia-bar-container">
              <div class="efficacy-filled" style="width: {{ item.max|floatformat:0 }}%;"></div>
              <div class="efficacy-marker" style="left: calc({{ item.max|floatformat:0 }}% - 7px);"></div>
            </div>

            <p class="eficacia-range" style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 25px; text-align: left;">
              <span style="color: #888; font-weight: 500;">{{ item.min_str }} a</span>
              <span style="color: #000; font-weight: bold;"> {{ item.max_str }}%</span>
            </p>

            <p id="titulo-prazo-{{ tratamento.id }}" style="margin: 0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 15px; color: #000;">
              Prazo para efeito
            </p>
            <p id="valor-prazo-{{ tratamento.id }}" style="margin: 4px 0 0 0; font-family: 'Inter', sans-serif; font-size: 16px; font-weight: bold; color: #000;">
              {{ tratamento.prazo_efeito_min_formatado }} a {{ tratamento.prazo_efeito_max_formatado }}
            </p>

            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}" class="btn mt-2"
               style="background-color: #e0e0e0; color: #000; border: none; font-weight: 500; font-size: 14px; padding: 5px 35px; display: inline-flex; align-items: center; gap: 5px; margin-left: auto;">
              ver detalhes <span style="font-weight: bold;">&#8250;</span>
            </a>

            <span id="faixa-risco-{{ tratamento.id }}" class="replace-dot" style="display:none;">
              {{ tratamento.reacao_maxima}}%
            </span>
            <span id="faixa-eficacia-{{ tratamento.id }}" class="replace-dot" style="display:none;">
              {{ item.min|floatformat:2 }}% a {{ item.max|floatformat:2 }}%
            </span>
            <span id="faixa-prazo-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.prazo_efeito_min_formatado }} a {{ tratamento.prazo_efeito_max_formatado }}
            </span>
            <p class="preco-range" id="faixa-preco-{{ tratamento.id }}" style="display:none;">
              R$ {{ tratamento.preco|default:tratamento.custo_medicamento }}
            </p>
            <span id="faixa-rigor-{{ tratamento.id }}" style="display: none;">
              {% for i in "1234567" %}
                {% if i|add:"0" <= tratamento.rigor_maximo %}
                  <span style="display:inline-flex;align-items:center;justify-content:center;width:24px;height:24px;font-size:0.85rem;font-weight:600;border-radius:4px;border:1px solid #007bff;color:#fff;background:#007bff;">
                    {{ i }}
                  </span>
                {% else %}
                  <span style="display:inline-flex;align-items:center;justify-content:center;width:24px;height:24px;font-size:0.85rem;font-weight:600;border-radius:4px;border:1px solid #007bff;color:#007bff;background:transparent;">
                    {{ i }}
                  </span>
                {% endif %}
              {% endfor %}
            </span>
            <p id="faixa-data-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.ultima_pesquisa|date:"m/Y"|default:"-" }}
            </p>
            <span id="faixa-participantes-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.max_participantes|default:"-" }} participantes
            </span>
          </div>
        </div>
      </div>
    </a>
    {% endwith %}
  {% empty %}
    <p style="margin:10px 0;">Nenhum tratamento com eficácia de Redução de sintomas.</p>
  {% endfor %}
</div>

{# =========================== SESSÃO: PREVENÇÃO =========================== #}
<div class="treatment-list">
  <h2 style="font-size: 16px; font-weight: bold; background-color: #f2f2f2; padding: 8px 15px; border-radius: 6px; width: 450px; margin-left: 1000px;">
    Tratamentos com eficácia de prevenção
  </h2>

  {% for item in tratamentos_prevencao %}
    {% with tratamento=item.obj %}
    <a href="{% url 'detalhes_tratamentos' tratamento.id %}" class="text-decoration-none text-dark">
      <div class="tratamento-card" style="margin-left: 1000px; margin-right: 0px; width: 1130px;">
        <div class="tratamento-content">
          {% if tratamento.imagem %}
            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}">
              <img src="{{ tratamento.imagem.url }}" alt="{{ tratamento.nome }}" class="img-fluid">
            </a>
            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}" class="btn mt-2"></a>
          {% else %}
            <img src="{% static 'default-image.jpg' %}" alt="Imagem não disponível">
          {% endif %}

          <div class="tratamento-info">
            <h3>{{ tratamento.nome }}</h3>
            <h3 style="color: #0094FF;font-size: 12px;">
              {% for tipo in tratamento.tipo_tratamento.all %}
                {{ tipo.nome }}{% if not forloop.last %}, {% endif %}
              {% empty %}Nenhum tipo selecionado{% endfor %}
            </h3>

            <p><strong>Princípio ativo:</strong> {{ tratamento.principio_ativo|default:"ND" }}</p>
            <p><strong>Fabricante:</strong> {{ tratamento.fabricante|default:"ND" }}</p>

            <a href="{% url 'evidencias_clinicas' slug=tratamento.slug %}" class="btn"
               style="background-color: #feeedc; color: #000; border: none; text-transform: lowercase; padding: 4px 35px; margin-top: 4px; display: inline-block;">
               ver pesquisas
            </a>
            <p>{{ tratamento.descricao }}</p>
          </div>

          <div class="eficacia-container">
            <p style="font-size: 20px; font-weight: 700; text-align: left; font-family: 'Inter', sans-serif; color: rgb(163,162,162);">
              Eficácia: <span style="color: #000; font-weight: 700; font-size: 20px;">Prevenção</span>
            </p>

            <div class="eficacia-bar-container">
              <div class="efficacy-filled" style="width: {{ item.max|floatformat:0 }}%;"></div>
              <div class="efficacy-marker" style="left: calc({{ item.max|floatformat:0 }}% - 7px);"></div>
            </div>

            <p class="eficacia-range" style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 25px; text-align: left;">
              <span style="color: #888; font-weight: 500;">{{ item.min_str }} a</span>
              <span style="color: #000; font-weight: bold;"> {{ item.max_str }}%</span>
            </p>

            <p id="titulo-prazo-{{ tratamento.id }}" style="margin: 0; font-family: 'Inter', sans-serif; font-weight: 500; font-size: 15px; color: #000;">
              Prazo para efeito
            </p>
            <p id="valor-prazo-{{ tratamento.id }}" style="margin: 4px 0 0 0; font-family: 'Inter', sans-serif; font-size: 16px; font-weight: bold; color: #000;">
              {{ tratamento.prazo_efeito_min_formatado }} a {{ tratamento.prazo_efeito_max_formatado }}
            </p>

            <a href="{% url 'detalhes_tratamentos' slug=tratamento.slug %}" class="btn mt-2"
               style="background-color: #e0e0e0; color: #000; border: none; font-weight: 500; font-size: 14px; padding: 5px 35px; display: inline-flex; align-items: center; gap: 5px; margin-left: auto;">
              ver detalhes <span style="font-weight: bold;">&#8250;</span>
            </a>

            <span id="faixa-risco-{{ tratamento.id }}" class="replace-dot" style="display:none;">
              {{ tratamento.reacao_maxima}}%
            </span>
            <span id="faixa-eficacia-{{ tratamento.id }}" class="replace-dot" style="display:none;">
              {{ item.min|floatformat:2 }}% a {{ item.max|floatformat:2 }}%
            </span>
            <span id="faixa-prazo-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.prazo_efeito_min_formatado }} a {{ tratamento.prazo_efeito_max_formatado }}
            </span>
            <p class="preco-range" id="faixa-preco-{{ tratamento.id }}" style="display:none;">
              R$ {{ tratamento.preco|default:tratamento.custo_medicamento }}
            </p>
            <span id="faixa-rigor-{{ tratamento.id }}" style="display: none;">
              {% for i in "1234567" %}
                {% if i|add:"0" <= tratamento.rigor_maximo %}
                  <span style="display:inline-flex;align-items:center;justify-content:center;width:24px;height:24px;font-size:0.85rem;font-weight:600;border-radius:4px;border:1px solid #007bff;color:#fff;background:#007bff;">
                    {{ i }}
                  </span>
                {% else %}
                  <span style="display:inline-flex;align-items:center;justify-content:center;width:24px;height:24px;font-size:0.85rem;font-weight:600;border-radius:4px;border:1px solid #007bff;color:#007bff;background:transparent;">
                    {{ i }}
                  </span>
                {% endif %}
              {% endfor %}
            </span>
            <p id="faixa-data-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.ultima_pesquisa|date:"m/Y"|default:"-" }}
            </p>
            <span id="faixa-participantes-{{ tratamento.id }}" style="display:none;">
              {{ tratamento.max_participantes|default:"-" }} participantes
            </span>
          </div>
        </div>
      </div>
    </a>
    {% endwith %}
  {% empty %}
    <p style="margin:10px 0;">Nenhum tratamento com eficácia de Prevenção.</p>
  {% endfor %}
</div>


